#
# DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER
#
# Copyright (c) 2016, Juniper Networks, Inc. All rights reserved.
#
#
# The contents of this file are subject to the terms of the BSD 3 clause
# License (the "License"). You may not use this file except in compliance
# with the License.
#
# You can obtain a copy of the license at
# https://github.com/Juniper/warp17/blob/master/LICENSE.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
#
# 1. Redistributions of source code must retain the above copyright notice,
# this list of conditions and the following disclaimer.
#
# 2. Redistributions in binary form must reproduce the above copyright
# notice, this list of conditions and the following disclaimer in the
# documentation and/or other materials provided with the distribution.
#
# 3. Neither the name of the copyright holder nor the names of its
# contributors may be used to endorse or promote products derived from this
# software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
#
# File name:
#     test_6_http_40M_sessions.cfg
#
# Description:
#     Sets up 40M HTTP sessions.
#
# Author:
#     Dumitru Ceara, Eelco Chaudron
#
# Initial Created:
#     06/13/2016
#
# Notes:
#
#

# Assuming a back to back topology with:
# PORT 0 - client port
# PORT 1 - server port

# Client port configuration
# Add the L3 interface on the client side
add tests l3_intf port 0 ip 10.0.0.1 mask 255.255.255.0
add tests l3_intf port 0 ip 10.0.0.2 mask 255.255.255.0
add tests l3_intf port 0 ip 10.0.0.3 mask 255.255.255.0
add tests l3_intf port 0 ip 10.0.0.4 mask 255.255.255.0

# Not required but add a default gw on the client side
add tests l3_gw port 0 gw 10.0.0.253

# Configure a TCP client test case (ID 0) on PORT 0
# from [10.0.0.1, 10.0.0.4]:[10001, 60000] to 10.0.0.253:[6001, 6200]
add tests client tcp port 0 test-case-id 0 src 10.0.0.1 10.0.0.4 sport 10001 60000 dest 10.0.0.253 10.0.0.253 dport 6001 6200

# Configure the timeout profile for test case ID 0 on PORT 0:
# initial-delay 0s start immediately
# uptime 20s
# downtime 10s
set tests timeouts port 0 test-case-id 0 init 0
set tests timeouts port 0 test-case-id 0 uptime infinte
set tests timeouts port 0 test-case-id 0 downtime infinite

# Let the test run for 1h (3600s):
# criteria: run-time
set tests criteria port 0 test-case-id 0 run-time 3600

# Configure HTTP clients to perform a GET with body size 10 bytes for test case
# ID 0 on PORT 0:
set tests client http port 0 test-case-id 0 GET google.com /index.html req-size 10


# Server port configuration
# Add the L3 interface on the server side
add tests l3_intf port 1 ip 10.0.0.253 mask 255.255.255.0

# Not required but add a default gw on the server side
add tests l3_gw port 1 gw 10.0.0.1

# Configure a TCP server test case (ID 0) on PORT 1
# accepting connections on 10.0.0.253:[6001->6200]
add tests server tcp port 1 test-case-id 0 src 10.0.0.253 10.0.0.253 sport 6001 6200

# Configure HTTP servers to respond with 200 OK and a body size of 20 bytes
set tests server http port 1 test-case-id 0 200-OK resp-size 20


# Start the tests on PORT 1 (servers in this case)
start tests port 1

# Start the tests on PORT 0 (clients in this case)
start tests port 0

# Show the UI window
show tests ui

